.b-top{
  margin-top: 60px;
  margin-bottom: 45px;
  font-size: 32px;
}
.indent{
  margin-bottom: 50px;
}

.top {
background-color: #e2e2e2;
text-align: center;
display: block;
border: solid #e2e2e2 1px;
}

.search{
  padding: 4px;
  font-size: 18px;
  margin-left: 10px;
  width: 300px;
}

.b-notes{
  margin-left: 20px;
  list-style: none;
}

.note{
  border-bottom: solid #e2e2e2; 4px;
  border-left: solid #e2e2e2 6px;
  padding-bottom: 40px;
  padding-left: 10px;
  margin: 8px;
  width: 90%;
}

.hide-note {
  width: 11%;
  border-bottom: solid #e2e2e2 4px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.mix{
  font-size: 26px;
  color: #8e8e8e;
  font-family: sans-serif;
}

.search-bar {
  padding-top: 35px;
  margin-bottom: 150px;
  text-align: center;
  display: block;
}

.a-search {
  width: 400px;
  padding: 5px;
  font-size: 18px;
  margin-left: 8px;
  border: solid #b5b5b5 3px;
}

.box{
  background: #7ead3c;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  width: 80px;
  height: 35px;
}


.fa-pencil-square-o:before {
  content: "\f044"; ;
  color: green;
}

.fa-times{
  color: red;
}
